* {
  font-family: 'Roboto';
}
.layout-container {
  background-color: #475569;
  padding: 20px;
}
.layout-heading {
  color: white;
  font-weight: 500;
  font-size: 25px;
  margin-top: 0;
}
.list-container {
  padding: 0;
  list-style: none;
}
.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.input {
  width: 15px;
  height: 13px;
  margin: 0;
}
.label {
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  margin-left: 15px;
}
